/* The browser should display a desktop version of the site 
when the width of the browser window is 992px and above. 
Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively.
Mobile view should appear only if the width of the browser is equal to or less than 767px. */

* {
	box-sizing: border-box;
}

.row {
	width: 100%;
}

.food {
	position: absolute;
	top: 0;
	right: 0px;
	border: 1px solid black;
	padding: 10px;
	width: 30%;
	text-align: center;
	background-color: red;
	margin-top: 0px;/*needs this to eliminate auto margin*/
}

.col {
	position: relative;
	padding: 50px 20px 20px 20px;
	background-color: gray;
	margin-bottom: 20px;
}